.navbar {
  background-color: #009ab1;
}
.navbar-brand {
  width: 100%;
  text-align: center;
}
main {
  text-align: center;
}
h2 {
  font-size: 1.3rem;
  margin: 13px 0;
}
textarea {
  margin: 13px 0;
}
